
<div class="container container-nav">
<div class="row">
  
  	
		<br>
		<div class="linea-roja-chica-right">
		</div>
		<br>
		<div class="linea-roja">
		</div>
	</div>
	<div class="row ">	
		<div class="col-xs-12 Cont-EjeLogistico">
				<div class="TxtBigEjeLogistica ">EJE LOGÍSTICO DEL CENTRO </div>
				<div class="TxtBigEjeLogistica txt-log-ubicacion ">DEL PAÍS</div>
		</div>
		
	</div>
	<div class="row contenedor-eje slideDown">
	
   
		<div class="col-xs-12 ">
		   <div class=" TxtMidEjeLogistico  GraphikBold ColorGris ">EJE LOGÍSTICO DEL 
		   </div> 
		   <div class=" TxtMidEjeLogistico  GraphikBold ColorNegro ">CENTRO DEL PAÍS </div>
		</div>
	</div>
     
<div class="row">	
   
   

 
	
         
	<div class="col-xs-12 col-md-6 EjeLogistico-Texto 
 GraphikRegular">
		

	<br class="visible-xs">
	<br class="visible-xs">
		La plataforma logística de mayor magnitud es el Puerto Seco en el sur del estado, en donde se ubica la Terminal Intermodal Logística de Hidalgo (TILH), un proyecto que fue desarrollado en asociación con Hutchison Port Holdings, operador de puertos como Hong Kong, Lázaro Cárdenas y Veracruz, y Grupo UNNE, especialista en logística y transporte. 
<br><br>
		Este patio intermodal tiene conectividad con las líneas ferroviarias de Kansas City Southern de México y Ferromex, y con autopistas para llegar en pocas horas a los principales puertos del Golfo de México y del Pacífico
<br><br>
		En este mismo conjunto está ubicada en la Zona de Actividades Logísticas de Hidalgo, destinada a la instalación de centros de distribución e industria ligera de alto valor agregado, con área de reserva para desarrollo futuro de 300 hectáreas.
<br><br>
		Algunos de los principales centros de distribución que abastecen al Valle de México están ubicados en la zona sur del estado de Hidalgo, específicamente en la región Tula-Tepeji.


	</div>
	
	<div class="col-xs-12 col-md-6 EjeLogistico-Texto GraphikRegular ">
		Destacan en la zona importantes centros de distribución como AutoZone,  COSTCO, Home Depot, BULKMATIC, entre otros.
<br><br>
        Su objetivo primordial es formar parte de la cadena de logística y transporte orientada principalmente a la exportación. Ofrece servicios de carga, descarga, entrega y recepción de contenedores a camión, ferrocarril, consolidaciones y desconsolidaciones, así como servicio de contenedores refrigerados y almacenaje.
<br><br>
        Esta infraestructura convierte a Hidalgo en un punto estratégico para el comercio exterior y lo mantiene en contacto directo con Estados Unidos, Canadá, Europa, Asia y el centro de México.
					<br>			<br>
		
	</div>
</div>
   
  
           <div class="row">
            <div class="container-slide contenedor-slide-nuevo">
                <div id="slides">
                      <img src="assets/images/11111111.jpg" class="imagen-rapida" alt="a">
                      <img src="assets/images/22222222.jpg" alt="a">
                      <img src="assets/images/33333333.jpg" alt="">
                </div>
          </div>
         
         
         
         
         <br>&nbsp;<br>
   
   <br>
		<div class="linea-roja">
		</div>
	<br>
	
		<div class="linea-roja-chica-left">
		</div>
	
   <br>&nbsp;<br>&nbsp;
    
          
	
	
	
   
    <footerubicacionylogistica-component>
    </ footerubicacionylogistica-component>
    
         </div >
	
	
	
	
</div>





