.EjeLogistico-Texto{
	position: relative;
	top: -50px;
	color: rgba(71,71,71,1);
	text-align: justify;
	
	
}
.TxtBigEjeLogistica{
	font-family: GraphikThin;
	font-size: 65px;
	color: rgba(233, 233, 233, 1);
}
.Cont-EjeLogistico{
	position: relative;
	top: 0px;
	left: 20px;
	
}

.TxtMidEjeLogistico{
	position: relative;
	display: inline;
	font-size: 23px;
		top:0px;
	
	color: rgba(71,71,71,1);
}


.contenedor-eje{
	position: relative;
	top: -100px;
}