
    @media (max-width: 400px) 
    
    {
	
	.TxtBigUbicacionyLogistica {
			font-size: 50px !important;
		}
		
		
	.EjeLogistico-Texto{
	top: -20px!important ;
	
}
		
		
.TxtBigEjeLogistica{
	font-size: 35px !important ;
}

		
	

		
		
      /* noquitar */
        /* Tamano del slideshow*/
      .container-slide {
          position: relative;
      width: 85%;
          height: 95px;
        }
      /* fin no quitar*/
        
        
     /* No quitar*/   

        body{
        }
        
          .casosdeexito>p,.suscripcionaboletines>p,.preguntasfrecuentes>p{
         
            display: inline;
            font-size: 8px;
        }
        
        
        /* contenedor imagen invest*/
            .imagen-header{
                top:-194px !important;
                width:100%;
                height:0px;
            }



        /*imagen invest*/

            .imagen-invest{
                width: 280px; 
                height: 280px;
                top: 140px;
            }

        
        

        
       .container-nav>div>div>a{
            font-size: 8px;
        }

      
      /* Contenedor Contacto*/
        
     .contenedorbuscarlogo{
    left: -5%;
    }

        
            /* icono buscar */
                .iconobuscar{
                    /*si funciona esto */
                    width:25px;
                    height:25px;
                    
                    /* Para el tamano*/
                    font-size: 16px;
                    
                
                    text-align: center;
                    color: rgba(0,45,64,1);
left: -10px;
                }
  
 /* Compartido tamano de texto de los logos buscar y contacto*/
.iconobuscar-text,.iconousuario-text{
    
     text-align: center;
     font-family: ParaNav;
     font-size: 11px;
}
       
  .iconobuscar-text{
    display: block;
    top: -40px;
    left: -15px;
    
}
      
        
/* Buscar Usuario*/
    .contenedorbuscarusuario
    {
        left: -4%;
        top: -2px;
    }  
/* Texto buscar usuario*/

/* Icono usuario o contacto*/

   .iconousuario{
    width: 20px;
    height: 20px;
    left: -5px;
    text-align: center;
    top:-4px;
    }



/* Texto  contacto*/

   .iconousuario-text
    {
        left: -20px;
        top: 5px;
    }
/* final buscar usuario*/

 
        
        
 
/* Contenedor Casos de exito*/
		
       
		.footer{
		 height: 88px !important;
		}


		
        
        /* Iconos de casos de exito*/
     
         .icono-footer>img{
             height: 30px;
             width:30px;
             display: block;
             left: 40%;
             top:-5px;
        }
        
	
		
        
        
        /* Textos casos de exito*/
        .casosdeexito>p,.suscripcionaboletines>p,.preguntasfrecuentes>p{
          display: block;
            font-size: 10px;
            top: -8px;
        }
           
        
        
        /* icono-footer2 redes sociales  */
         .icono-footer2>img{
            position: relative;
             height: 10px;
                width:10px;
            left: 300%;
             top: -35px;
        }
        
		
		
     
       
        
        

        
        
        
        
        
           /* Para mover el contenido de los 3 */
                    .casosdeexito,.suscripcionaboletines,.preguntasfrecuentes{
                       
                        color: white;
                        text-align: center;
                        font-size: 18px;
                        top:10px;
                    }
    
/*  Texto casos de exito */
                 .footer2-izquierdo,.footer2-derecho,.footer2-centro-direccion{
                       
                        top: 50px;
                      }


        
        /* Secretaria de desarrollo economico*/
                      .footer2-centro-direccion {
						 
						  top: 20px !important;
                        } 
                    /*  Final de Secretaria de */
        
        
        
        
        


    }


        
        
/* Phones Little */

    @media (max-width: 350px) {
    
     
        
        
    }


