<div class="subir-contenedor-total-footer">
         
           <div class="container container-nav container-footer">
          <div class="row">
            <div class="col-xs-4 footer">
              <div class="casosdeexito">
                <a class="btn">
                  <span class="icono-footer" ><img src="assets/images/LOGO1.svg"></span>
                  <p>Casos de exito</p>
                </a>
              </div>
            </div>
            
            <div class="col-xs-4 footer">
              <div class="suscripcionaboletines">
                <a class="btn" data-toggle="modal" data-target="#Suscripcion">
                  <span class="icono-footer"><img src="assets/images/LOGO2.svg"></span>
                  <p>Suscripción a boletines</p>
                </a>
              </div>
            </div>
              
            <div class="col-xs-4 footer">
              <div class="preguntasfrecuentes">
                <a class="btn" data-toggle="modal" data-target="#FAQ">
                  <span class="icono-footer"><img src="assets/images/LOGO3.svg"></span>
                  <p>Preguntas frecuentes</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="container container-nav container-footer2">
          <div class="row">
            <div class="col-xs-12 col-sm-4 footer2-izquierdo">

              <div class="col-sm-1 hidden-xs"></div>

              <div class="col-xs-2 icono-footer2 "><img src="assets/images/logofooter2-uno.svg"></div>
              <div class="col-xs-2 icono-footer2 "><img src="assets/images/logofooter2-dos.svg"></div>
              <div class="col-xs-2 icono-footer2 "><img src="assets/images/logofooter2-tres.svg"></div>
              <div class="col-xs-2 icono-footer2 "><img src="assets/images/logofooter2-cuatro.svg"></div>
              <div class="col-xs-2 icono-footer2 "><img src="assets/images/logofooter2-cinco.svg"></div>
              
              <div class="col-xs-1 hidden-xs"></div>  
            </div>
            
            <div class="col-xs-12 col-sm-4 footer2-centro-direccion">
              <br/>
              <div class="linea-vertical hidden-xs linea-vertical-izq"></div>
              <div><strong>Secretaria de Desarrollo Economico</strong></div>
              <br/>
              <div><strong>Carr. Mexíco-Pachuca KM. 93.5, Centro Minero,</strong></div>
              <div><strong>Col. Venta Prieta, Pachuca de Soto, Hidalgo; C.P. 42080</strong></div>
              <div><strong>Tel: +52(771)717.81.09</strong></div>
            </div>

            <div class="col-xs-12 col-sm-4 footer2-derecho ">
              <div class=" linea-vertical-der hidden-xs"></div>
              <div class="footer2-logo-googlemaps">
                <a href="https://goo.gl/maps/KyQbsZyYxY12" target="_blank">
                  <img  class="footer2-logo-googlemaps-img" src="assets/images/logogoogle.svg">
                </a>
              </div>
            </div>

          </div>
        </div>
</div>