<style>
	    
	
	
	
	
</style>
<div class="container container-nav">
<div class="row">
		
		<br>
		<div class="linea-roja-chica-right">
		</div>
		<br>
		<div class="linea-roja">
		</div>
		<br>
		
		<br>
		
		
	
			<div class="col-xs-12 Cont-Conectividad-Carretera slideDown" >
               <div class=" TxtMidConectividad-Carretera  GraphikBold  ">CONECTIVIDAD CARRETERA Y 
               </div> 
               <div class=" TxtMidConectividad-Carretera  GraphikBold ColorGris ">FERROVIARIA</div>
            </div>
            
     
	

<div class="col-xs-12">
	
	
</div>

 
<div class="col-xs-12">
	
         
	<div class="col-xs-12 col-md-6 Conectividad-Carretera-Texto 
 GraphikRegular">
		
	<br class="visible-xs">
	<br class="visible-xs">
	
	

		    El crecimiento económico y la modernidad están asociados directamente con el desarrollo de los servicios de comunicaciones y transportes, elementos que permiten mejorar los niveles de bienestar social y aumentar las posibilidades de movilidad.
			<br>			<br>
			Al ser Hidalgo uno de los estados mejor comunicados de México, dado su ubicación geográfica en el Corredor Económico del Centro del país y su extraordinaria infraestructura carretera y ferroviaria, posibilitan el acceso a los principales puertos y fronteras del país, y detonan el desarrollo de las empresas, posicionándolo como el nuevo destino industrial en el centro de México.
			<br>			<br>
			Cuenta con una moderna y funcional conectividad carretera, que de acuerdo al anuario estadístico de INEGI, a inicios del 2015 contaba con un total de 11,049 kilómetros de carreteras.  
			<br>			<br>
			Con el Arco Norte, el desarrollo carretero más importante en el centro del país, y que atraviesa el sur de Hidalgo, el estado se ha posicionado como una zona de alto valor agregado en términos de logística, ya que permite reducir tiempo y costo en el traslado de mercancías hacia otras entidades y para operar actividades desde el Océano Pacífico al Golfo de México, sin pasar por el Valle de México.
			<br>			<br>


	</div>
	
	<div class="col-xs-12  col-md-6 Conectividad-Carretera-Texto GraphikRegular ">
		El eje carretero, Circuito Exterior Mexiquense, conecta con algunas de las autopistas más transitadas del centro del país como lo es la México-Pachuca, lo que permite entrar y salir de la Cd. de México y su zona conurbada de una manera rápida y segura. 
		<br>			<br>
        Es importante destacar que toda la red carretera estatal es libre de peaje. En los tramos de cuota destacan las autopistas federales como la NAFTA Highway 57 México-Querétaro, Autopista Federal México-Pachuca 85D y Federal 132D México-Tuxpan.
		<br>			<br>
        Hidalgo se ha colocado en el centro del proyecto del Sistema Nacional de Plataformas Logísticas en donde la red ferroviaria juega un papel clave en términos de enlace. Con más de 800 kilómetros de vías troncales activas de las empresas ferroviarias más importantes de México: Kansas City Southern de México, Ferromex y Ferrosur, que cuentan con conexiones duales en diversos puntos del sur del estado, lo que permite realizar infraestructura para carga, transporte y logística.
					<br>			<br>
		
	</div>
</div>



	</div>
	
	
<div class="row">

<div class="col-xs-12">
	<div class="col-xs-12 col-md-6">
		
   
		<a class="fancybox-effects-d" href="assets/images/111.jpg" title="">
        	<img src="assets/images/111.jpg"  
        	class="imagen-hidalgo img-responsive">
		</a>
	</div>
	
	
	
	<div class="col-xs-12 col-md-6">
		
		<a class="fancybox-effects-d" href="assets/images/222.jpg" title="">
        	<img src="assets/images/222.jpg"  
        	class="imagen-hidalgo img-responsive">
        	
		</a>
	</div>
</div>
 
	</div>
 
 
		
  <div class="row">
	
	
   <br>&nbsp;<br>&nbsp;
   
     
	
   
	</div>
</div>
	
	
<div class="container container-nav  ">
           <div class="row">
            <div class="container-slide contenedor-slide-nuevo">
                <div id="slides">
                      <img src="assets/images/11111.jpg" class="imagen-rapida" alt="a">
                      <img src="assets/images/22222.jpg" alt="a">
                      <img src="assets/images/33333.jpg" alt="">
                </div>
          </div>
         </div >
         
         
         
         
         <br>&nbsp;<br>
   
   <br>
		<div class="linea-roja">
		</div>
	<br>
	
		<div class="linea-roja-chica-left">
		</div>
	
   <br>&nbsp;<br>&nbsp;
    
        
        
         </div>
         <br><br><br>
  
    <footerubicacionylogistica-component>
    </ footerubicacionylogistica-component>
	
         	
         			
	
	
	



	