<div class="jumbotron text-center">
	<h1>Sectores Estrategicos</h1>
	<p>{{ message }}</p>
	<a href="assets/downloads/Referencias.pdf" download="r"><h3>Referencias</h3></a>
	
	
<dl>
  
    <dt class="h1">
        Consolidados
    </dt>
    
    <dd class="h3"> 
        Alimentos
    </dd>
    
    <dd class="h3">
        Siderúrgico y metalmecánico 
    </dd>
    
    <dd class="h3">
        Mineria y materiales para la construccíon 
    </dd>
    
    <dd class="h3">
        Textil y del vestido
    </dd>
    
    
</dl>
    
    
    
    <dl>
  
    <dt class="h1">
        Prospectivos
    </dt>
    
    <dd class="h3"> 
        Automotriz y autopartes
    </dd>
    
    <dd class="h3">
        Energias renovables
    </dd>
    
    <dd class="h3">
        Farmacéutico
    </dd>
    
    <dd class="h3">
        Inmobiliario
    </dd>
     
    <dd class="h3">
        Tecnologias de la informacion y comunicación
    </dd>
    
</dl>
    
    
    
    <dl>
  
    <dt class="h1">
        Contexto nacional
    </dt>
    
    </dl>
    
    
        
    <dl>
  
    <dt class="h1">
        Contexto estatal
    </dt>
    
    </dl>
    
    
          
    <dl>
  
    <dt class="h1">
        Principales empresas
    </dt>
    
    </dl>
    
     <dl>
  
    <dt class="h1">
        Oferta educativa
    </dt>
    
    </dl>
    
    
       <dl>
  
    <dt class="h1">
        Centros de Investigacion
    </dt>
    
    </dl>
    
    
    
       <dl>
  
    <dt class="h1">
        Oportunidades de Inversion
    </dt>
    
    </dl>
    
    
    
    
    
    
    

    
    
	
</div>
