@import "bootstrap.css";
@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "normalize.css";
@import "estilos.css";
@import "paraicono.css";
@import "sweetalert.css";
@import "MenuHamburguesaIndex.css";
@import "RFI.css";



    @font-face{
      font-family:mediocurveada;
      src:url(app/fonts/OleoScript-Regular.ttf);
      }
    *{
      padding: 0;
      margin: 0;
      }
    body{
      overflow-x: hidden;
      }
      @media (max-width: 767px) {
        .menu{
          transition: 1s;
          position: fixed;
          height:  100vh;
          width: 100vw;
          background-color: white;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          align-items: center;
          color: black;
          z-index: 999;
          top: -120vh;
          border-radius: 19px;
          border-width: 10px;
          border-color: black;
          border-style:ridge;
          }
        .nav-texto{
          height: 20px;
          }
        .nav-texto > .btn-link a {
          transition: 1s;
          
          position: relative;
          color: black;
          font-size: 18px;
          }
        }
      @media (min-width: 767px) {
        .noaparecer{
          display: none;
          }
        }
