

.nav-texto{
        font-size: 14px;
        height: 50px;
        display: flex;
        top: 10px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    font-family: ParaNav;
    
    }

    .nav-texto > .btn-link{
        cursor: pointer;
        cursor: hand;
        font-size: 12px;
        height: 50px;
        display: flex;
        top: 10px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        color: rgba(109,109,109,1);
    }
.btn-link:hover{
    text-decoration: none;
}
h2{
    font-family:mediocurveada;
    font-size:36px;
}
    
    .header-derecho{
        position: relative;
        top: 30px;
    }

    .linea{
        
        height: 1px;
        width: 100%;
        background-color: rgba(109,109,109,1);
        margin: auto;
}
        
        
        
.imagen-header-principal{
    
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
}
    .imagen-header{
        position: absolute;
        top:30px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        
        width:100%;
        height:100px;
        left: 13%;
        transform: scale(4.2);
        
    }


    
    .imagen-invest{
        width: 100%;        
        height: 100%;
    }
    .container-nav{
        width: 100%;
    }
    .inputbuscar{
        position: relative;
        top:60px;
        background-color: rgba(216,216,216 ,1);
        height: 30px;
        width: 100%;
}

.contenedorbuscarlogo{
    top: 40px;
    transform: scale(.49);
    overflow: hidden;
left: -5%;
}


    .iconobuscar{
        position: relative;
        width: 100%;
        height: 50px;
        font-size: 35px;
        text-align: center;
        color: rgba(0,45,64,1);
        
    }
.iconobuscar-text
    {
        
        position: relative;
        text-align: center;
        font-size: 20px;
        top: 0px;
        font-family: ParaNav
    }
    
.contenedorbuscarusuario
{
    transform: scale(.7);
    left: -6%;
    top: 50px;
    
}    
    
       .iconousuario{
        position: relative;
        width: 30px;
        height: 30px;
        left: -10px;
        text-align: center;
        top:0px;
    }


.iconousuario-text
    {
        
        position: relative;
        text-align: center;
        top: 10px;
        left: -20px;
        font-family: ParaNav
    }
    
    
    .container-footer
    {
        width: 100%;
    }
    
    .footer{
     background-color: rgba(180,19,19,1);
        
        height: 70px;
        
    }
    
    .casosdeexito,.suscripcionaboletines,.preguntasfrecuentes{
        position: relative;
        color: white;
        text-align: center;
        font-size: 20px;
        top:7px;
    }
    
    a{
        color: black;   
        
    }
    
    a:hover{
        text-decoration: none;
         transition: .5s;
         color:rgba(0,45,64,1);
         transform: scale(1.2);
        
    }


    .icono-footer{
        position: relative;
        left: -20px;
        font-size: 40px;
        top: 10px;
        color: rgba(57,180,54,1);
    }
    .icono-footer>img{
        position: relative;
        height: 30px;
        width: 30px;
        top: -12px;
        
    }
    .espacio{
        height: 500px;
    } 
    
    
    
    .container-footer2{
        width: 100%;
        height: 180px;
    }
    
    
.icon-youtube
    {
        transform: rotate(180deg);
        color:rgba(0,45,64,1);
    }
    
      .icono-footer2{
        position: relative;
        left: -20px;
        font-size: 40px;
        top: 10px;
        color:rgba(0,45,64,1);
          
    }
    
    .icono-footer2>img{
        position: relative;
        width: 30px;
        height: 30px;
        top: -20px;
    }

    .footer2-centro-direccion >div{
        text-align: center;
        font-size: 11px;
        font-family: Graphik-Regular;
    } 
    .footer2-logo-googlemaps{
        position: relative;
        text-align: center;
       width: 100%;
    }
      .footer2-logo-googlemaps-img{
        position: relative;
        
        width: 40px;
        height: 40px;
    }
    
    .linea-vertical{
        position: absolute;
        top: 20px;
        width: 2px;
        height: 120px;
        left: -8px;
        background-color: rgba(178,178,178,1);
    }

   
    .linea-vertical-der{
        position: absolute;
        top: -30px;
        width: 2px;
        height: 120px;
        left: -8px;
        background-color: rgba(178,178,178,1);
    }
    
    .footer2-izquierdo{
        position: relative;
        top: 50px;
    }
      .footer2-derecho{
        position: relative;
        top: 50px;
    }



  @media (max-width: 767px) {
      
           
      
        .iconobuscar{
      left: -10px;
            top: 0px;
      
      }
       .iconobuscar-text{
      left: -20px;
            top: -30px;
      }
      
  .iconousuario{
      top: -10px;
      left: 0px;
      width: 30px;
      }
       .iconousuario-text{
      left: -15px;
      top:-20px;
      }
      
         .inputbuscar{
        top:0px;
       
    }
      
      .menu>div>a:hover{
          background-color: black;
          color: white;
          
      }
      
        }

  
    @media (max-width: 767px) 
    {
        .casosdeexito,.suscripcionaboletines,.preguntasfrecuentes{
            font-size: 19px;
            left: 0px;
            text-align: center;
            display: block;
        }
        
        .icono-footer>img{
            width: 40px;
            height: 40px;
            left: 10px;
        }
        .footer2-izquierdo{
            display: block;
            height: 110px;
        }
        .footer2-centro-direccion
        
        {
            display: block;   
        }
         
        }




@media (max-width: 400px) {
    
    .container-nav>div>div>a{
        font-size: 8px;
    }
 .casosdeexito>p,.suscripcionaboletines>p,.preguntasfrecuentes>p{
        display: inline;
        font-size: 18px;
    }
        
        
    }

@media (max-width: 350px) {
    
    .container-nav>div>div>a{
        font-size: 8px;
    }
 .casosdeexito>p,.suscripcionaboletines>p,.preguntasfrecuentes>p{
        display: inline;
        font-size: 15px;
    }
        
        
    }

@media (min-width: 768px) and (max-width: 991px) {
    
    .container-nav>div>div>a{
        font-size: 12px;
    }
 
        
    }


@media (max-width: 991px) {
        .footer{
        height: 100px;
    }
  
    
}
        
@media (min-width: 991px) {
   
    .casosdeexito>p,.suscripcionaboletines>p,.preguntasfrecuentes>p{
        position: relative;
        display: inline;
        font-size: 15px;
        top: -5px;
    }
       .container-nav>div>div>a{
        font-size: 12px;
    }
         
@media (min-width: 1101px) {
   
       .container-nav>div>div>a{
        font-size: 12px;
    }
    
        
        
    
}




