/* Large Display - query */


    @media (min-width:1200px){
    
        
        .container-nav>div>div>a{
            font-size: 12px;
        }
        
        
        
       .container-nav>div>div>a{
        font-size: 12px
        }
   
         .icono-footer>img{
        position: relative;
        height: 30px;
        width: 30px;
        top: -12px;  
    }
          .casosdeexito>button>p,.suscripcionaboletinesa>button>p,.preguntasfrecuentes>button>p{
            display: inline;
            font-size: 18px;
        }
        
        
        
        
        
    }