



    @media (min-width:1200px){
 
        
        body{
        
        }
          .noaparecer{
          display: none;
        }
        
          .contenedor-slide-nuevo{
            position: relative;
            top: 4vh;
        } 
        
        
        
        
}