    .ContenedorMenuHamburguesa{
        transition: 1s;
        position: fixed;
        width: 200px;
        height: 200px;
        transform: scale(.15);
        top:-60px;
        left: -80px;
        /* Flex-box*/
        
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center; 
        z-index: 1000;
        background-color:rgba(0,45,64,1);
        border-radius: 100px;
        
        overflow: hidden;
        
        box-shadow: 8px 5px 40px black,
                    8px 5px 50px black
                    
    }
    
    .ContenedorMenuHamburguesa:hover{
        
        transition: 1s;
        background-color:  rgba(150,0,0,1);
}
    .hamburguesa{
        top:90px;
        height: 8%;
        background-color: white;
        width: 56%;
        left:22%;
    }
    
    .hamburguesa:after,
    .hamburguesa:before,
    .hamburguesa{
        transition: 1s;
        position: absolute;
        content: '';
        background-color: white;
    }
      
    .hamburguesa:after{
        width: 100%;
        height: 100%;
        top:40px;
    }
    
     .hamburguesa:before{
        height: 100%;
        top:-40px;
          width: 100%;
    }
    
    
    .cruz{
        transition: 1s;
        transform: rotateZ(45deg);
        
    }
    .cruz:before{
        
        transition: 1s;
        top: 0px;
        transform: rotateZ(90deg);
    }
     .cruz:after{
        
        transition: 1s;
        top: 0px;
        transform: rotateZ(0deg);
    }



    