/* Phone y Tablet - query */

      @media (min-width: 401px) and (max-width: 767px) 
      {
        
          
             /* noquitar */
        /* Tamano del slideshow*/
      .container-slide {
          position: relative;
      width: 90%;
        }
      /* fin no quitar*/
          
           /*imagen invest*/

            .imagen-invest{
                width: 400px; 
                top: 0px;
            }

          
          
          
       .ContenedorMenuHamburguesa{
  
        transform: scale(.25);
                  left: -60px;
                  top: -50px;
              
          }
          body{
              background-color: dodgerblue;
          }
 
          
         .casosdeexito>p,.suscripcionaboletines>p,.preguntasfrecuentes>p{
         
            display: inline;
            font-size: 12px;
        }
        
       .container-nav>div>div>a{
            font-size: 8px;
        }

      
      
        
     
        .footer{
         height: 55px;   
        }
        
          
        /* Iconos de casos de exito*/
     
         .icono-footer>img{
             height: 25px;
             width:25px;
             left: -10%;
             top:-5px;
        }
          
          
        
        /* Textos casos de exito*/
        .casosdeexito>p,.suscripcionaboletines>p,.preguntasfrecuentes>p{
         display: block;
            font-size: 10px;
            top: 0px;
            text-align: center;
            left: -10%;
        }
        
        
        
          
             /* icono-footer2 redes sociales  */
         .icono-footer2>img{
            position: relative;
             height: 25px;
                width:25px;
            left:200%;
             top: -35px;
        }
        
          
          
          
        
        /* Secretaria de desarrollo economico*/
                      .footer2-centro-direccion {
                            text-align: center;
                            font-size: 11px;
                            font-family: Graphik-Regular;
                          top: 15px;
                          
                        } 
          
          
       
         
  .iconobuscar-text{
    display: block;
    top: -40px;
    left: -30%;
    
}
             
  
          
          
}





   @media (min-width: 414px) and (max-width: 560px) 
   {
    
         
       
    }



   @media (min-width: 560px)  and (max-width: 767px) 
   {
    
         
       
    }


