
    @media (max-width: 400px) 
    
    {
        body{
            background-color: pink;
        }
        
        .container-nav>div>div>a{
            font-size: 8px;
        }
        
         .casosdeexito>p,.suscripcionaboletines>p,.preguntasfrecuentes>p{
            display: inline;
            font-size: 18px;
        }
        
        
        /* imagen investihidalgo */
        .imagen-header{
            transform: scale(5);
            left: 0%;
        }
        
        /* final imagen investihidalgo */
        
        /* Parte del input buscar y contacto */
        .header-derecho{
            position: relative;
            top: 70px;
        }
        
        
        .contenedorbuscarlogo{
        top: 10px;  
            
        }
        
        .contenedorbuscarusuario{
            top: 48px;
            left: 6px;
        }
        
        .iconobuscar{
            top:40px;
            left:16px;
        }
        /* fin input*/
        
        
        .subir-contenedor{
            top: 20px;
        }
        
        .subir-vista{
            position: relative;
            top: -40px;
        }
        
        .contenedor-slide-nuevo{
                 position: relative;
                 top: -10vh;
        }
        
        
              
    .icono-footer>img{
        position: relative;
        height: 20px;
        width: 20px;
        top: -30px; 
left: 20%;
    }
       
        
       /*TEXTO CASOS DE EXITO*/ .casosdeexito>p,.suscripcionaboletines>p,.preguntasfrecuentes>p{
            position: relative;
            display: block;
            font-size: 12px;
            top: -28px;
           
        }
        
        
  
        
        
        
    }



/* Phones Little */

    @media (max-width: 350px) {
    
     .icono-footer>img{
        position: relative;
        height: 20px;
        width: 20px;
        top: -30px; 
left: 20%;
    }
       
        
       /*TEXTO CASOS DE EXITO*/ .casosdeexito>p,.suscripcionaboletines>p,.preguntasfrecuentes>p{
            position: relative;
            display: block;
            font-size: 12px;
            top: -28px;
           
        }
        
        
        
    }


