<div class="jumbotron text-center">

	<p class="h2">{{ message }}</p>

<div class="container">
    <div class="row">
      
       <div class="col-sm-offset-4 col-sm-4 ">
       <div class="icon icon-file-text icono-header-Solicitud"></div>
        <div class="text-center h4">Solicitud de informacion </div>

        <div class="text-center h4">Requirement for information</div>
         </div>
    </div>
</div>

<br/>

<div class="container container-formulario">
    <div class="row">
      
      
<div class="col-xs-12 informacion-general h3"> I.- Informacion general / General information</div>
       <form>
        
        
<!-- °°°°°°°°° Izquierdo °°°°°°°°°  -->
        
<!-- ********* Izquierdo *********  -->
        
<div class="col-sm-6  frm-1-izq">
     
  
<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="Company" class="text-left">
        Empresa / Company
        </label>

        <input type="text" class="form-control" id="Company" placeholder="Empresa/Company" name="Company">
    
    </div>
        
<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="Pagina" class="text-left">
        Pagina electronica / Website
        </label>

        <input type="text" class="form-control" id="Pagina" placeholder="Pagina electronica / Website" name="Pagina">
    
    </div>
           
        
<!--////////////////////////////////////////////-->
<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="Pais" class="text-left">
        Pais / Country
        </label>

        <input type="text" class="form-control" id="Pais" placeholder="Pais / Country" name="Pais">
    
    </div>
           
        
<!--////////////////////////////////////////////-->
         <!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="contacto" class="text-left">
        Contacto / Contact
        </label>

        <input type="text" class="form-control" id="contacto" placeholder="Contacto / Contact" name="contacto">
    
    </div>
           
        
<!--////////////////////////////////////////////-->

<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="CorreoElectronico" class="text-left">
        Correo electronico / E-mail
        </label>

        <input type="email" class="form-control" id="CorreoElectronico" placeholder="Correo electronico / E-mail" name="CorreoElectronico">
    
    </div>
           
        
<!--////////////////////////////////////////////-->
        
         
          
 </div>
        

<!--FIN  Derecho   -->
           
<!--FIN  Derecho   -->
           
        
        
<!-- °°°°°°°°° Derecho °°°°°°°°°  -->
        
<!-- ********* Derecho *********  -->
           
         <div class="col-sm-6 frm-1-der">
       
<!--////////////////////////////////////////////-->
<div class="form-group">
            
    <label for="InicioOper" class="text-left">
Inicio de operaciones / Start of operations
    </label>
    
    <input type="date" class="form-control" id="InicioOper" placeholder="Inicio de operaciones / Start of operations" name="iniciodeoperaciones">
    
</div>
      
        <!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="Direccion" class="text-left">
        Dirección / Address
        </label>

        <input type="text" class="form-control" id="Direccion" placeholder="Dirección / Address" name="Direccion">
    
    </div>
           
        
<!--////////////////////////////////////////////-->
<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="Telefono" class="text-left">
        Telefono / Phone
        </label>

        <input type="tel" class="form-control" id="Telefono" placeholder="Telefono / Phone" name="Telefono">
    
    </div>
           
        
<!--////////////////////////////////////////////-->


<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="Cargo" class="text-left">
        Cargo / Position
        </label>

        <input type="text" class="form-control" id="Cargo" placeholder="Cargo / Position" name="Cargo">
    
    </div>
           
        
<!--////////////////////////////////////////////-->

<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="MontoAnual" class="text-left">
        Monto anual de ventas / Annual sales
        </label>

        <input type="number" class="form-control" id="MontoAnual" placeholder="Monto anual de ventas / Annual sales" name="MontoAnual">
    
    </div>
           
        
<!--////////////////////////////////////////////-->
         
          
         </div>


<!--FIN  Derecho   -->
           
           
           
         </form>
         
    </div>
</div>



<!-- ////////////////////////////////  -->



<div class="container container-formulario">
    <div class="row">
      
      
<div class="col-xs-12 informacion-general h3">
II.- Información del proyecto / Project Information</div>
       <form>
        
        
<!-- °°°°°°°°° Izquierdo °°°°°°°°°  -->
        
<!-- ********* Izquierdo *********  -->
        
<div class="col-sm-6  frm-2-izq">
     
  
<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="Company" class="text-left">
        Empresa / Company
        </label>

        <input type="text" class="form-control" id="Company" placeholder="Empresa/Company" name="Company">
    
    </div>
        
<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="InversionInicial" class="text-left">
        Inversion inicial / initial investment
        </label>

        <input type="text" class="form-control" id="InversionInicial" placeholder="Inversion inicial / initial investment" name="InversionInicial">
    
    </div>
           
        
<!--////////////////////////////////////////////-->
<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="numempleos" class="text-left">
        No. inicial de empleos / Initial investment
        </label>

        <input type="number" class="form-control" id="numempleos" placeholder="No. inicial de empleos / Initial investment" name="numempleos">
    
    </div>
           
        
<!--////////////////////////////////////////////-->
         <!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="origeninversion" class="text-left">
        Origen de inversion / Origin of the initial investment
        </label>

        <input type="text" class="form-control" id="origeninversion" placeholder="Origen de inversion / Origin of the initial investment" name="origeninversion">
    
    </div>
           
        
<!--////////////////////////////////////////////-->
      
          
 </div>
        

<!--FIN  Derecho   -->
           
<!--FIN  Derecho   -->
           
        
        
<!-- °°°°°°°°° Derecho °°°°°°°°°  -->
        
<!-- ********* Derecho *********  -->
           
         <div class="col-sm-6 frm-2-der">
       
<!--////////////////////////////////////////////-->
<div class="col-xs-12">
<div class="form-group col-xs-6">
            
    <label for="Sector" class="text-left">
Sector / Sector
    </label>
    
    <input type="text" class="form-control" id="Sector" placeholder="Sector / Sector" name="Sector">
    
</div>
    
     <div class="form-group col-xs-6">
            
    <label for="giro" class="text-left">
Giro / Activity
    </label>
    
    <input type="text" class="form-control" id="giro" placeholder="Giro / Activity" name="giro">
    
    </div>
</div>
      
        <!--////////////////////////////////////////////-->
   <div class="form-group">
            
        <label for="InversionFinal" class="text-left">
        Inversion final / final investment
        </label>

        <input type="text" class="form-control" id="InversionFinal" placeholder="Inversion final / final investment" name="InversionFinal">
    
    </div>
           
<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="finalempleos" class="text-left">
        No. final de empleos / Final no. employments
        </label>

        <input type="number" class="form-control" id="finalempleos" placeholder="No. final de empleos / Final no. employments" name="finalempleos">
    
    </div>
           
        
<!--////////////////////////////////////////////-->

<!--////////////////////////////////////////////-->
<div class="col-xs-12">
<div class="form-group col-xs-6 col-sm-6">
            
    <label for="nacional" class="text-left">
Nacional / National
    </label>
    
    <input type="text" class="form-control" id="nacional" placeholder="Nacional / National" name="nacional">
    
</div>
    
     <div class="form-group col-xs-6 col-sm-6">
            
    <label for="otro-origen" class="text-left">
Otro / other
    </label>
    
    <input type="text" class="form-control" id="otro-origen" placeholder="Otro / other" name="otro-origen">
    
    </div>
</div>
      
        <!--////////////////////////////////////////////-->
<!--////////////////////////////////////////////-->
         
          
         </div>


<!--FIN  Derecho   -->
           
           
           
         </form>
         
    </div>
</div>


<!-- ------------------------------------------------>
<!--------------------------------------------------->


<div class="container container-formulario">
    <div class="row">
      
      
<div class="col-xs-12 informacion-general h3">
III.- Requerimientos / Requirements</div>
       <form>
        
        
<!-- °°°°°°°°° Izquierdo °°°°°°°°°  -->
        
<!-- ********* Izquierdo *********  -->
        
<div class="col-sm-6  frm-2-izq">
     
  
<!--////////////////////////////////////////////-->
<div class="col-xs-12">
<div class="form-group col-xs-6 col-sm-6">
            
    <label for="Terreno" class="text-left">
Terreno / Land ( m2)
    </label>
    
    <input type="text" class="form-control" id="Terreno" placeholder="Terreno / Land ( m2)" name="Terreno">
    
</div>
    
     <div class="form-group col-xs-6 col-sm-6">
            
    <label for="nave" class="text-left">
Nave / Plant (m2)
    </label>
    
    <input type="text" class="form-control" id="nave" placeholder="Nave / Plant (m2)" name="nave">
    
    </div>
</div>
        
<!--////////////////////////////////////////////-->

           
        
<!--////////////////////////////////////////////-->
<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="Preferenciasdeubicacion" class="text-left">
        Preferencias de ubicacion / Location preferences
        </label>

        <input type="text" class="form-control" id="Preferenciasdeubicacion" placeholder="Preferencias de ubicacion / Location preferences" name="Preferenciasdeubicacion">
    
    </div>
           
        
<!--////////////////////////////////////////////-->
         <!--////////////////////////////////////////////-->
<!--////////////////////////////////////////////-->
      
          
 </div>
        

<!--FIN  Derecho   -->
           
<!--FIN  Derecho   -->
           
        
        
<!-- °°°°°°°°° Derecho °°°°°°°°°  -->
        
<!-- ********* Derecho *********  -->
           
         <div class="col-sm-6 frm-2-der">
       
<!--////////////////////////////////////////////-->
<div class="col-xs-12 btnradio">
<div class="form-group col-xs-6 col-sm-6">
            
    <label  class="text-left">
Compra / Bought
    </label>
    
    <input type="radio" class="form-control" value="compra" placeholder="Compra / Bought" name="Compraventa">
    
</div>
    
     <div class="form-group col-xs-6 col-sm-6">
            
    <label  class="text-left">
Renta / Rented
    </label>
    
    <input type="radio" class="form-control " 
    value="compra"
     placeholder="Renta / Rented" name="Compraventa">
    
    </div>
</div>
          
      
        <!--////////////////////////////////////////////-->
   <div class="form-group inversion">
            
        <label for="InversionFinal" class="text-left">
        Parque industrial (si aplica) / Industrial Park (if applies)
        </label>

        <input type="text" class="form-control" id="InversionFinal" placeholder="Parque industrial (si aplica) / Industrial Park (if applies)" name="InversionFinal">
    
    </div>
           
        <!--////////////////////////////////////////////-->
<!--////////////////////////////////////////////-->
         
          
         </div>


<!--FIN  Derecho   -->
           
           
           
         </form>
         
    </div>
</div>

<!-------------------------------------------------------->
<!-------------------------------------------------------->


<div class="container container-formulario">
    <div class="row">
      
      
<div class="col-xs-12 informacion-general h3">
IV.- Infrastructura requerida / Required Infrastructure</div>
       <form>
        
        
<!-- °°°°°°°°° Izquierdo °°°°°°°°°  -->
        
<!-- ********* Izquierdo *********  -->
        
<div class="col-sm-6  frm-2-izq">
     
  
<!--////////////////////////////////////////////-->
<div class="col-xs-12">
<div class="form-group col-xs-6 col-sm-6">
            
    <label for="Electricidad" class="text-left">
Electricidad / Electricity <br/> (KVA)
    </label>
    
    <input type="text" class="form-control" id="Electricidad" placeholder="Electricidad / Electricity (KVA)" name="Electricidad">
    
</div>
    
     <div class="form-group col-xs-6 col-sm-6">
            
    <label for="agua" class="text-left">
Aqua / Water <br/> (m3/dia-m3/day)
    </label>
    
    <input type="text" class="form-control" id="agua" placeholder="Aqua / Water (m3/dia-m3/day)" name="agua">
    
    </div>
</div>
        
<!--///////////////////////////////
           
        
<!--////////////////////////////////////////////-->
<!--////////////////////////////////////////////-->
    <div class="form-group">
            
        <label for="Ferrocarril" class="text-left">
        Escuela de ferrocarril / Railroad Access
        </label>

        <input type="text" class="form-control" id="Ferrocarril" placeholder="Escuela de ferrocarril / Railroad Access" name="Ferrocarril">
    
    </div>
           
        
<!--////////////////////////////////////////////-->
         <!--////////////////////////////////////////////-->
<!--////////////////////////////////////////////-->
      
          
 </div>
        

<!--FIN  Derecho   -->
           
<!--FIN  Derecho   -->
           
        
        
<!-- °°°°°°°°° Derecho °°°°°°°°°  -->
        
<!-- ********* Derecho *********  -->
           
         <div class="col-sm-6 frm-2-der">
       
<!--////////////////////////////////////////////-->
<div class="col-xs-12">
<div class="form-group col-xs-6 col-sm-6">
            
    <label for="Gas Natural" class="text-left">
Gas natural / Natural gas <br/>(m3/mes-m3/month)
    </label>
    
    <input type="text" class="form-control" id="Gas Natural" placeholder="Gas natural / Natural gas (m3/mes-m3/month)" name="Gas Natural">
    
</div>
    
     <div class="form-group col-xs-6 col-sm-6">
            
    <label for="gaslp" class="text-left">
Gas L.P. <br/> (m3/mes-m3/month)
    </label>
    
    <input type="text" class="form-control" id="gaslp" placeholder="Gas L.P. (m3/mes-m3/month)" name="gaslp">
    
    </div>
</div>
        
          
      
        <!--////////////////////////////////////////////-->
   <div class="form-group inversion">
            
        <label for="Telecomunicaciones" class="text-left">
       Telecomunicaciones / Telecommunications
        </label>

        <input type="text" class="form-control" id="Telecomunicaciones" placeholder="Telecomunicaciones / Telecommunications" name="Telecomunicaciones">
    
    </div>
           
        <!--////////////////////////////////////////////-->
<!--////////////////////////////////////////////-->
         
          
         </div>


<!--FIN  Derecho   -->
           
           
           
         </form>
         
    </div>
</div>

<!-------------------------------------------------------->
<!-------------------------------------------------------->
<!-------------------------------------------------------->
<!-------------------------------------------------------->
</div>