<br/>

          
   <div class="container container-nav container-acomodandocarrusel">
     <div class="row">
          <div id="myCarousel" class="carousel slide " data-ride="carousel">
            <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

            <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                      <div class="item active">
                           <img src="assets/images/1.png" alt="Chania" width="100%" height="345">
                      </div>

                      <div class="item">
                            <img src="assets/images/2.png" alt="Flower" width="100%" height="345">
                      </div>

                      <div class="item">
                            <img src="assets/images/3.png" alt="Flower" width="100%" height="345">
                      </div>

                </div>
            </div>
      </div>
    </div> 
    
    
    <div class="container container-nav">
    <div class="row">
        <br>
        <br>
        <div class="col-xs-12 col-sm-6">
         <div class="col-sm-12">
        <p class="h3 GraphikBold">AMBIENTE</p> 
           <p class="h3 GraphikBold ColorGris subirAside">DE NEGOCIOS</p>
           
           <p class="prueba Graphik-Regular TextoAside">
              El estado de Hidalgo se caracteriza por ser un gobierno facilitador para nuevas empresas, al ubicarse en el noveno lugar nacional como el estado con la mayor rentabilidad para los negocios y en el cuarto con la mejor estrategia para atraer inversiones, de acuerdo al estudio Mexican States of the Future 2016/17 del Finantial Times.
<br>
             <br>
              La publicación del Banco Mundial denominada Doing Business 2016, ubica a Hidalgo entre los primeros 10 estados en donde es más fácil registrar una propiedad, lo que tiene un impacto significativo en la administración de las tierras en el estado.
           </p>
           
        </div>
        
        
         </div>
         
         
         <div class="col-xs-12 col-sm-6">
         <div class="col-sm-12">
        <p class="h3 GraphikBold ColorGris">FORTALECIMIENTO</p> 
           <p class="h3 GraphikBold subirAside"> ECONÓMICO</p>
           
           <p class="prueba Graphik-Regular TextoAside">
               El ambiente de negocios se traduce en la confianza que han depositado inversionistas nacionales y extranjeros en las diferentes regiones del estado, ya que en los últimos años se han consolidado nuevos proyectos por más de 38 mil millones de pesos en grandes inversiones, generando más de 40 mil empleos en sectores como el metalmecánico, alimentos, logístico, papel, entre otros.
           </p>
           
        </div>
        
        
         </div>
        </div>   
        
         <div class="row">
        
        <br>
        <br>
        <div class="col-xs-12 col-sm-6">
         <div class="col-sm-12">
        <p class="h3 GraphikBold ColorGris">NUEVAS</p> 
           <p class="h3 GraphikBold subirAside">INVERSIONES</p>
           
           <p class="prueba Graphik-Regular TextoAside">
            A través de servicios especializados se promueven las ventajas competitivas del estado de Hidalgo respecto a la ubicación geográfica y la mano de obra especializada, lo que posibilita la generación de cadenas de valor y el ofrecimiento de incentivos en materia de regulación que facilitan la instalación de empresas en menos tiempo y con más transparencia.

           </p>
           
        </div>
        
        
         </div>
         
         
         <div class="col-xs-12 col-sm-6">
         <div class="col-sm-12">
          <br>  
        <p class="h3 GraphikBold">VINCULACIÓN</p> 
           
           <br>
           <p class="prueba Graphik-Regular TextoAsideVinculacion subirAside">
              La vinculación interinstitucional es un pilar clave para Hidalgo, ya que ha permitido impulsar el emprendimiento y los nuevos negocios.
           </p>
           
        </div>
        
        
         </div>
        </div>
        
        
       
       
       
    
</div>
<br>
   <br>
    
    
     <!--      
<div class="jumbotron text-center">
	<h1>Página Principal</h1>
	<p>{{ message }}</p>
</div>
-->

