

<div class="container container-nav">
	<div class="row">
	
	
		<br>
		<div class="linea-roja-chica-right">
		</div>
		<br>
		<div class="linea-roja">
		</div>
		<br>
		
		
		
	</div>	
		<div class="row">	
		<div class="col-xs-12 ">
				<div class="TxtBigUbicacionyLogistica ">UBICACIÓN Y </div>
				<div class="TxtBigUbicacionyLogistica txt-log-ubicacion ">LOGÍSTICA</div>
		</div>
			
			
			<div class="col-xs-12 Cont-UbicacioLogistica slideDown">
               <div class=" TxtMidUbicacionyLogistica  GraphikBold  ">UBICACIÓN 
               </div> 
               <div class=" TxtMidUbicacionyLogistica  GraphikBold ColorGris ">&nbsp;Y LOGÍSTICA</div>
            </div>
            
        </div>
        
        <div class="row Contenedor-TxtLitUbicacion">	
			<div class="col-xs-12 GraphikRegular TextoAside ">
              
			    Hoy en día la importancia de la ubicación es clave para el desarrollo económico, es por ello que cuando se habla del estado de Hidalgo se hace referencia a su privilegiada localización en el corazón de México, a tan sólo 89 km de la Cd. de México, el principal   centro político, económico y empresarial del país.
				<br>&nbsp;<br>
				Lo anterior, permite una reducción significativa en los costos logísticos para las empresas establecidas en la entidad, además de que el Aeropuerto Internacional de la Cd. de México se encuentra a tan solo 94 km de la ciudad de Pachuca, capital del estado, y a 90 km del Nuevo Aeropuerto de la Cd. de México
				<br>&nbsp;<br>&nbsp;           
            
            </div>
            
        </div>
        
         
        <div class="row">
        
        <div class="col-xs-12">
        	
        	<img src="assets/images/mapahidalgo.png"  
        	class="imagen-hidalgo img-responsive">
        </div>
	    </div>
   <br>&nbsp;<br>&nbsp;
   <br>&nbsp;<br>
   
   <br>
		<div class="linea-roja">
		</div>
	<br>
	
		<div class="linea-roja-chica-left">
		</div>
	
   <br>&nbsp;<br>&nbsp;

   
    <footerubicacionylogistica-component>
    </ footerubicacionylogistica-component>
</div>    
<!--
<div class="jumbotron text-center">
	<h1>Ubicacion y logistica</h1>
	<p class="h2">{{ message }}</p>
	
</div>

-->
