<div class="jumbotron">
  <h1>Agencia Promocion</h1>
  <p>{{ message }}</p>
  <dl>
    <dt class="h1">Asesoria especializada</dt>
    <dt class="h1">Acompañamiento Empresarial</dt>
    <dt class="h1">Seguimiento y aftercare</dt>
    <dt class="h1">Incentivos a la inversión </dt>
    <dt class="h1">Fiscales </dt>
    <dt class="h1">Estrategicos </dt>
    
    <dd class="h2">Innovacion en la producción</dd>
    <dd class="h2">Generacion de talento</dd>
    <dd class="h2">Cadena de proveeduria</dd>
    <dd class="h2">Financiamiento</dd>
  </dl>
</div>
