<div class="jumbotron text-center">
	<h1 class="h1">Porque hidalgo</h1>
	<p>{{ message }}</p>
	

 <dl>
  
    <dt class="h1">
        Oportunidades de Inversion
    </dt>
    
</dl>

<dl>
    <dt class="h1">
        Ubicacion y logistica
    </dt>
   
    <dd class="h3">
        Conectividad Carretera y Ferroviaria
    </dd>

    <dd class="h3">
        Conectividad a la ZMVM
    </dd>

    <dd class="h3">
        Cercania a clusters y principales ciudades
    </dd>
    
    <dd class="h3">
        Distancias a  puertos
    </dd>
    
    <dd class="h3">
        Eje logistico del centro del pai
    </dd>
</dl>


<dl>
  
    <dt class="h1">
        Calidad de vida
    </dt>
    
    <dd class="h3"> 
        Hospitales
    </dd>
    
    <dd class="h3">
        Clubes sociales y deportivos
    </dd>
    
    <dd class="h3">
        Recreacion
    </dd>
    
    <dd class="h3">
        Vivienda
    </dd>
    
    <dd class="h3">
        Indice de paz
    </dd>
    
</dl>



<dl>
  
    <dt class="h1">
        Cifras
    </dt>
    
    <dd class="h3"> 
        Indicadores económicos
    </dd>
    
    <dd class="h3">
        Poblacion
    </dd>
    
    <dd class="h3">
        PEA(estatal y principales ciudades)
    </dd>
    
    <dd class="h3">
        Ranking
    </dd>
    
    <dd class="h3">
        Empleos
    </dd>
      
    <dd class="h3">
        Rotacion
    </dd>
      
    <dd class="h3">
        Sueldos y salarios
    </dd>
      
    <dd class="h3">
        Sindicatos
    </dd>
    
</dl>



</div>


