 <div class="subir-total-navbar">
     <div class="container container-navbar container-nav container-header-nav">
      <div class="row">
        <div class="col-xs-12 col-sm-5 imagen-header-principal">
          <div class="imagen-header col-xs-12">
          <img src="assets/images/investin.svg" class="imagen-invest" alt="">
          </div>
        </div>
        <div class="col-xs-12 hidden-xs col-sm-1">
            
        </div>
        
        <div class="col-xs-12 col-sm-6 header-derecho subir-contenedor-input" >
         
          <div class="col-xs-8 "><input type="text" class="inputbuscar"></div>
          
          <div class="col-xs-2 contenedorbuscarlogo">
            <div class="icon icon-search iconobuscar"></div>
            <br class="">
            <br>
            <div class="iconobuscar-text"><b>Buscar</b></div>
          </div>
          
          <div class="col-xs-1"></div>
          
          <div class="col-xs-1 contenedorbuscarusuario">
            <img class="iconousuario" src="assets/images/contacto-logo.svg">
            <div class="iconousuario-text">
                <b>Contacto</b>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <br/><br/><br/>

    <div class="linea hidden-xs "></div>
    
    <nav class="container container-nav container-navbar-nuevo hidden-xs ">
        <div class="row header-nav">
          <div class="col-xs-2 nav-texto"><a class="btn-link" href="#home"><b>INICIO</b></a></div>
          
          <div class="col-xs-2 dropdown nav-texto">
            <a class="dropdown-toggle btn-link" id="menu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>¿POR QUÉ HIDALGO?</b></a>
             <ul class="dropdown-menu" aria-labelledby="menu1">
              <li><a href="#porquehidalgo">Ubicación y logística</a></li>
              <li><a href="#porquehidalgo">Calidad de vida</a></li>
              <li><a href="#porquehidalgo">Cifras</a></li>
            </ul>
          </div>
          <div class="col-xs-2 dropdown nav-texto">
            <a class="dropdown-toggle btn-link" id="menu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>SECTORES ESTRATÉGICOS</b></a>
             <ul class="dropdown-menu" aria-labelledby="menu2">
              <li><a href="#SectoresEstrategicos">Consolidados</a></li>
              <li><a href="#SectoresEstrategicos">Prospectivos</a></li>
            </ul>
          </div>

          <div class="col-xs-2 nav-texto">
            <a class="dropdown-toggle btn-link" id="menu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>INFRAESTRUCTURA INDUSTRIAL</b></a>
            <ul class="dropdown-menu" aria-labelledby="menu3">
              <li class="dropdown-header">Servicios Generales</li>
              <li><a href="#/InfraestructuraIndustrial">Gas natural</a></li>
              <li><a href="#/InfraestructuraIndustrial">Energía eléctrica</a></li>
              <li><a href="#/InfraestructuraIndustrial">Recurso hídricos</a></li>
              <li><a href="#/InfraestructuraIndustrial">Telecomunicaciones</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Parques industriales</li>
              <li><a href="#/InfraestructuraIndustrial">PLATAH</a></li>
              <li><a href="#/InfraestructuraIndustrial">QUMA</a></li>
              <li><a href="#/InfraestructuraIndustrial">Tepejí</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Proyectos de gran escala</li>
              <li><a href="#/InfraestructuraIndustrial">Corredor industrial</a></li>
            </ul>
          </div>

          <div class="col-xs-2 dropdown nav-texto">
            <a class="dropdown-toggle btn-link" id="menu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>AGENCIA DE PROMOCIÓN</b></a>
             <ul class="dropdown-menu" aria-labelledby="menu4">
              <li><a href="#AgenciaPromocion">Asesoría especializada</a></li>
              <li><a href="#AgenciaPromocion">Acompañamiento empresarial</a></li>
              <li><a href="#AgenciaPromocion">Seguimiento y aftercare</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Incentivos a la inversión</li>
              <li><a href="#AgenciaPromocion">Fiscales</a></li>
              <li><a href="#AgenciaPromocion">Estratégicos</a></li>
            </ul>
          </div>

          <div class="col-xs-2 dropdown nav-texto">
            <a class="dropdown-toggle btn-link" id="menu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>VENTANILLA ÚNICA</b></a>
             <ul class="dropdown-menu" aria-labelledby="menu2">
              <li><a href="#VentanillaUnica">Proceso de inversión</a></li>
              <li><a href="#SectoresEstrategicos">RFI</a></li>
            </ul>
          </div>
        </div>
    </nav>
    <br>
    <div class="linea hidden-xs "></div>
    
    </div>

