<div class="jumbotron text-center">
	<h1>Infraestructura Industrial</h1>
	<p>{{ message }}</p>

    <dl>
        <dt class="h1">Servicios generales</dt>
        <dd class="h3"> Gas natural</dd>
        <dd class="h3">Energia eléctrica</dd>
        <dd class="h3">Recurso hidrico</dd>
        <dd class="h3">Telecomunicaciones</dd>
    </dl>

    <dl>
        <dt class="h1">Parques Industriales</dt>
        <dd class="h3"> PLATAH</dd>
        <dd class="h3">QUMA</dd>
        <dd class="h3">Tepeji</dd>
    </dl>

    <dl>
        <dt class="h1">Proyectos de gran escala</dt>
        <dd class="h3"> Corredor Industrial del altiplano</dd>
    </dl>

</div>

